html, body {
  max-height: 600px;
  padding: 0;
  margin: 0;
  background: none;
  overflow: hidden;
  height: 440px;
}

#map {
  position: absolute;
  #width: 100%;
  #height: 100%;
  height: 470px;
  width 960px;
  left: 0px;
  right: 0px;
  margin-bottom: 8px;  
}

#map .table{
  width: 300px;
}

#map .table-container{
  height: 300px;
  overflow: auto;
}

label {
    cursor: pointer;
    font-size: 12px;
}
